.product-subscription {
	background-image: url(asset-url('subscription-radial-backround.svg'));
	background-color: $primary-light-second;
	background-size: cover;

	@include media-breakpoint-up(lg) {
		border-radius: $border-radius;
	}

	.custom-control-label::before,
	.custom-control-label::after {
		border-color: $primary !important;
		border-radius: calc-em(2);
		width: calc-em(16);
		height: calc-em(16);
		top: 44%;
		transform: translateY(-50%);
	}

	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			background-color: $primary;
		}
	}
}
