.video-loop-gif {
	display: inline-block;
	position: relative;

	summary {
		position: absolute;
		z-index: 2;
		bottom: 3%;
		right: 3%;		
		border-radius: 100%;		
		border: .1em solid $primary-light;
		background-color: $primary-light;
		width: 2.5em;
		height: 2.5em;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z'%3E%3C/path%3E%3C/svg%3E%0A");
	}
	
	[open] summary {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM224 191.1v128C224 337.7 209.7 352 192 352S160 337.7 160 320V191.1C160 174.3 174.3 160 191.1 160S224 174.3 224 191.1zM352 191.1v128C352 337.7 337.7 352 320 352S288 337.7 288 320V191.1C288 174.3 302.3 160 319.1 160S352 174.3 352 191.1z'/%3E%3C/svg%3E");
	}

	details{
		summary::-webkit-details-marker {
			display: none;
		}

		& > summary:first-of-type {
			list-style: none;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: inline-block;
			overflow: visible;
		}		
	} 
}