.cart-drawer {
	z-index: $zindex-tooltip;

	.show-modal-klarna & {
		z-index: 1;
	}

	.modal-dialog {
		max-width: calc-em(430);
	}

	.modal-dialog, .modal-content {
		height: 100%;
	}

	&:not(.show) .modal-dialog {
		transform: translate(100%, 0);
	}

	.close {
		top: 0;
		right: 0;
		font-size: $font-size-base;
		outline: none;
		opacity: 1;
		padding-top: map-get($spacers, 2) + map-get($spacers, 1) / 2;
	}

	.progress {
		height: 5px;
	}

	hr {
		border-color: $border-color;
	}

	&__shopify-icon {
		&:before,
		&:after {
			content: '';
			width: 25%;
			border-bottom: $border-width solid $border-color;
		}
	}

	&__discount-toggle:after {
		content: "\a0-";
		display: inline-block;
		text-decoration: inherit;
	}

	&__discount-toggle.collapsed:after {
		content: "\a0+";
	}

	&__services .svg {
		font-size: calc-em(50);
		margin-bottom: map-get($spacers, 1) / 2;
	}

	.modal-footer > * {
		margin: 0;
	}

	&__items-tip {
		background-color: $body-color;
	}
}

.manual-gwp {
	&__container {
		overflow: hidden;
		scroll-behavior: smooth;
	}

	&__left,
	&__right {
		top: 0;
	}
	&__left { right: 2em; }
	&__right { right: 0.5em; }

	&__item {
		flex: 0 0 calc-em(96);
		width: calc-em(96);

		picture {
			padding: 0 $grid-gutter-width / 2;
		}

		figcaption {
			font-size: $font-size-xs;
			background: $gray-400;
			padding: map-get($spacers, 1) / 2;
			border-radius: 2px;
		}

		button {
			&:focus,
			&:active {
				box-shadow: none !important;
			}
		}
	}
}
