html.us-store {
    .apply-discount-from-announcement-bar-abtest {
        .cart-empty-shop-cta {
            display: none !important;
        }

        .cart-empty-discount-form {
            display: block !important;
        }

        .tooltip--discount-applied:before {
            border-color: transparent transparent $secondary transparent;
        }
    }

}
