footer {
	background-color: $secondary;
	color: $white;

	a {
		color: $white;

		&:hover {
			color: $white;
			text-decoration: underline;
		}
	}

	hr {
		border-color: $white;
	}

	.footer__hr-bottom {
		border-color: $white;
		opacity: .2;
	}

	.footer__note {
		opacity: .6;
	}
}

.footer-grid-newsletter {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "newsletter-heading"
		"newsletter-form";

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "newsletter-heading newsletter-form";
	}

	&__newsletter-heading {
		grid-area: newsletter-heading;
	}

	&__newsletter-form {
		grid-area: newsletter-form;
	}
}

.footer-grid-nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "nav-shop nav-about"
		"nav-help item"
		"nav-follow nav-currency";

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: "nav-shop nav-about nav-help item nav-follow nav-currency";
	}

	&__shop {
		grid-area: nav-shop;
	}
	&__about {
		grid-area: nav-about;
	}
	&__help {
		grid-area: nav-help;
	}
	&__follow {
		grid-area: nav-follow;
	}
	&__currency {
		grid-area: nav-currency;
	}

	.dropdown .dropdown-menu {
		transition: all 0.3s;
		opacity: 0;
		height: 0;
		top: 0;
		bottom: 0;
		transform: translate3d(0,0,0);
	}

	.dropdown.show .dropdown-menu {
		opacity: 1;
		transform: translate3d(0px, -360px, 0px) !important;
		height: calc-em(360);
		top: 0;
	}
}

