html.us-store,
html.uk-store {
	.range-abtest--simple,
	.range-abtest--split {
		.playground {

			picture {
				bottom: 0;
				right: 0;
			}

			&__subtitle {
				@include font-size($font-size-sm);

				@include media-breakpoint-up(md) {
					@include font-size($font-size-base);
				}
			}

		}
	}

	.range-abtest--simple {

		.playground--original {
			display: none;
		}

		.playground--simple {
			display: flex !important;

			@include media-breakpoint-up(md) {
				&-square {
					&:before {
						content: "";
						display: block;
						padding-top: 100%;
					}

					figcaption {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					}
				}
			}
		}
	}

	.range-abtest--split {
		.playground--original {
			display: none;
		}

		.playground--split {
			display: block !important;

			.carousel-control-prev,
			.carousel-control-next {
				svg {
					height: 1.25em;
				}
			}

			.carousel-control-prev {
				left: 7.5%;

				@include media-breakpoint-up(md) {
					left: 0;
				}
			}

			.carousel-control-next {
				right: 7.5%;

				@include media-breakpoint-up(md) {
					right: 0;
				}
			}

			@include media-breakpoint-up(md) {
				.carousel--centered .carousel-inner {
					transform: none;
				}

				.product-card__title {
					min-height: calc-em(50);
				}
			}
		}
	}
}
