.product-swatch-mobile {
	transform: translateY(150%);
	transition: transform .25s ease-in-out;
	z-index: $zindex-sticky;

	.tooltip--sold-out {
		transform: translateY(150%);
	}

	&.show {
		transform: translateY(0);

		.tooltip--sold-out {
			transform: translateY(0%);
		}
	}

	&__collapse {
		bottom: -8px;
		z-index: -1;
	}

	.close {
		top: 1em;
		right: 1em;
	}
}

#product-ingredients__toggle {
	&::after {
		content: '\a0-';
	}

	&.collapsed::after {
		content: '\a0+';
	}
}

#product-proudtobe {
	li {
		.svg {
			display: flex;
			justify-content: center;
			flex-shrink: 0;
			font-size: calc-em(40);
			width: 1.2em;
			margin-right: 0.2em;
		}
	}
}

.product-collapse {
	&__toggle {
		.icon-plus { display: none; }
		.icon-minus { display: block; }
		&.collapsed {
			.icon-plus { display: block; }
			.icon-minus { display: none; }
		}
	}
}

.shipping-table {
	th {
		background: #E0F0E9;
	}

	th,
	td {
		padding: 0.5rem;
	}
}

#shipping-modal {
	z-index: $zindex-tooltip;

	.close {
		top: 0;
		right: 0;
		z-index: 1;
	}
}

.video-card {
	picture:before {
		font-size: 3em;
	}
}

.quiz-result-title {
	font-size: $h2-font-size;
	font-weight: $headings-font-weight;
	@include media-breakpoint-up(lg) {
		font-size: $h1-font-size;
	}
}

.show-survey-result {
	.quiz-result-title,
	.quiz-price,
	.survey-note {
		display: block !important;
	}

	.results-swatch__original {
		display: flex !important;
	}

	.pdp-services,
	.swatch {
		display: none !important;
	}
}
