.collection-swatch {

	&:before {
		background-color: rgba(0,0,0,.4);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s linear;
		position: fixed;
		z-index: $zindex-fixed;
		content: '';
	}

	&__close {
		top: $grid-gutter-width;
		right: $grid-gutter-width;
		cursor: pointer;
	}

	&__price {
		box-shadow: 0 -0.25em 0.3125em 0 rgba(0, 0, 0, .04);
		width: 100%;
		margin-top: auto;
	}

	&__price,
	&__waitlist {
		min-height: calc-em(120);
		bottom: 0;
		left: 0;
		right: 0;
	}

	.fixed-bottom {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		opacity: 0;
		visibility: hidden;
	}

	&.show {

		&:before,
		.fixed-bottom {
			visibility: visible;
			opacity: 1;
		}
	}

	&__img {
		width: 100%;
		&::before {
			padding-top: calc-em(220);
		}
	}
	@include media-breakpoint-up(lg) {
		&__modal .modal-lg {
			max-width: calc-em(770);
		}

		&__modal-subscription {
			.modal-content {
				min-height: calc-em(564);
			}
		}

		&__img {
			width: calc-em(370);
			min-width: calc-em(370);
			&::before {
				padding-top: calc-em(470);
			}
		}
	}
}
