.imagewtext {
	&__content {
		background: white;
		margin-top: -7em;

		@include media-breakpoint-up(lg) {
			margin-right: -40%;
		}
	}

	&--reverse {
		@include media-breakpoint-up(lg) {
			margin-left: -40%;
			margin-right: auto;
		}
	}

	figcaption {
		z-index: 1;
	}
}
