.product-waitlist {
  &--launch {
    background-color: $yellow-light;
  }

  .masking-select {
    padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x/2;
    border: $custom-select-border-width solid $custom-select-border-color;
    background: $custom-select-bg $custom-select-background-mask;
    width: calc(100% - #{$grid-gutter-width});

    @include box-shadow($custom-select-box-shadow);

    @include media-breakpoint-up('lg') {
      width: calc(100% - #{$grid-gutter-width-lg});
    }
  }
}