.result-card {
  picture {
    padding-top: percentage(214 / 300);
    border-radius: $badge-border-radius $badge-border-radius 0 0;
  }

  &.carousel-item {
    & > div {
      min-height: calc-em(430);
    }
  }

  a {
    text-decoration: underline;
  }
}
