@font-face {
	font-family: "sofia-pro";
	src: url("https://cdn.shopify.com/s/files/1/0286/1327/9779/t/122/assets/SofiaPro-Bold.woff2") format("woff2"),
	url("https://cdn.shopify.com/s/files/1/0286/1327/9779/t/122/assets/SofiaPro-Bold.woff2") format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "sofia-pro";
	src: url("https://cdn.shopify.com/s/files/1/0286/1327/9779/t/122/assets/SofiaPro-Regular.woff2") format("woff2"),
	url("https://cdn.shopify.com/s/files/1/0286/1327/9779/t/122/assets/SofiaPro-Regular.woff2") format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

