// Grid
$grid-gutter-width: 15px;
$grid-gutter-width-lg: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$spacer: calc-em(20, $unit: 1rem);
$spacers: (
  1: $spacer * 0.5,   // 10
  2: $spacer * 1,     // 20
  3: $spacer * 1.5,   // 30
  4: $spacer * 2,     // 40
  g: $grid-gutter-width,
);

// Typography
$font-family-sans-serif: "sofia-pro", "Helvetica Neue", Arial, sans-serif;

$line-height-base: calc-em(20, $context: 16, $unit: 1);
$line-height-lg: $line-height-base;
$line-height-sm: calc-em(17, $context: 14, $unit: 1);

$headings-font-weight: 700;
$headings-line-height: $line-height-base;

$font-size-base: calc-em(16);
$font-size-xs: calc-em(12);
$h1-font-size: calc-em(32);
$h2-font-size: calc-em(24);
$h3-font-size: calc-em(16);
$h4-font-size: calc-em(16);

$h1-font-size-lg: calc-em(32);
$h2-font-size-lg: calc-em(20);
$h3-font-size-lg: calc-em(16);
$h4-font-size-lg: calc-em(20);

$hero-banner-font-size: calc-em(32);
$hero-banner-font-size-lg: calc-em(72);
$playground-font-size: calc-em(52);

// Colors
$primary: #D62E55;
$primary-light: #F5DADF;
$primary-light-second: #FAE6EA;
$primary-dark: #B22D4B;
$secondary: #00635B;
$secondary-light: #E0F0E9;
$sh-purple: #993366;
$sh-purple-light: #FFEFFF;
$bali-bod-blue: #213E7B;
$bali-bod-blue-light: #bec5d8;
$sh-orange: #FF9900;
$sh-orange-light: #FCF6E4;
$green-light: #00B67A;
$yellow-light: #f9eeca;
$pink-light: #FFF2F4;

$body-color: #151515;

$gray-100: #FAF9F9;
$gray-400: #F5F5F5;
$gray-500: #A3A3A3;
$gray-600: #4E4E4E;
$gray-700: #7B7B7B;
$gray-900: $body-color;
$text-muted: $gray-500;
$border-color: $gray-600;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'gray-400': $gray-400,
  'gray-600': $gray-600,
  'sh-purple': $sh-purple,
  'pink-light': $pink-light
);

$shade-colors: (
  'dark': #885757,
  'ultra-dark': #5C2323,
  'medium': #AA7878
);

// Border
$border-radius-lg: calc-em(8, $unit: 1rem);

// Forms
$form-group-margin-bottom: map-get($spacers, 1);
$input-color: $body-color;
$input-placeholder-color: $gray-500;
$input-btn-focus-color: transparent;
$input-focus-border-color: $gray-400;
$input-disabled-bg: $gray-100;
$input-disabled-color: $gray-400;
$custom-control-gutter: .5em;
$custom-control-indicator-size: calc-em(20);

$input-padding-y: calc-em(28 / 2);
$input-padding-x: 1em;
$input-height: calc-em(50, $unit: 1rem);

$input-padding-y-sm: calc-em(15 / 2, 14);
$input-padding-x-sm: calc-em(6, 14);

$search-icon-padding-y-sm: calc-em(6, 14);
$input-border-radius-sm: calc-em(18, 14);

// Nav
$nav-link-padding-y: calc-em(12/2);
$nav-link-padding-x: calc-em(12/2);
$nav-link-padding-y-lg: calc-em(24/2);
$nav-link-padding-x-lg: calc-em(24/2);

// Buttons
$btn-hover-darken: 23.5%;
$btn-font-weight: 700;
$btn-padding-y: calc-em(9);
$btn-padding-x: calc-em(28);
$btn-padding-x-icon: calc-em(20);

$btn-font-size-lg: 1em;
$btn-line-height-lg: $line-height-base;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-width-lg: 2px;
$btn-padding-y-lg: calc-em(26 / 2);
$btn-padding-x-lg: calc-em(54);

$btn-padding-y-sm: calc-em(15 / 2, 14);
$btn-padding-x-sm: calc-em(28, 14);

// HR
$hr-border-color: $gray-600;

// Carousels
$carousel-indicator-width: calc-em(12);
$carousel-indicator-height: calc-em(12);
$carousel-control-color: $primary;
$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;
$carousel-indicator-active-bg: white;
$carousel-control-width: 10%;

// Upsell
$upsell-padding-y: calc-em(10);
$upsell-padding-x: calc-em(15);
$upsell-padding-y-lg: calc-em(10);
$upsell-padding-x-lg: calc-em(10);

// Video Carousel
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;

// Breadcrumb
$breadcrumb-bg: white;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$breadcrumb-divider: quote(">");
$breadcrumb-item-padding: calc-em(5);
$breadcrumb-font-size: calc-em(12);
$breadcrumb-padding-x: 0;

// Social Icon
$icon-primary-font-size: calc-em(30);

// Alert
$alert-padding-x: 1.25em;

// Interactions
$hover-transition-timing: 0.15s ease-in-out;

// accordion
$card-border-radius: 0;
$card-border-color: $gray-500;
$card-cap-bg: transparent;

// navbar
$navbar-nav-link-padding-x: 0;
$navbar-padding-y: 0;
$navbar-padding-x: calc-em(15 / 2, 16);
$navbar-toggler-padding-x: 0;

// navbar brand
$navbar-brand-padding-y: calc-em(9, 16);

// dropdown
$dropdown-border-width: 0;

// tooltip
$tooltip-opacity: 1;
$tooltip-font-size: $font-size-base;

// Icons
$supernova-icon-asset: url(font-url('supernova-icon.woff2')) format("woff2"),
url(font-url('supernova-icon.woff')) format("woff");

// Select
$custom-select-indicator-padding: 1em;
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'><path d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/></svg>");
$custom-select-bg-size: calc-em(16) calc-em(9);
$custom-select-disabled-bg: $gray-100;
$custom-select-disabled-color: $gray-400;
$custom-select-background-mask: $custom-select-indicator no-repeat right $input-padding-x/3 center / $custom-select-bg-size !default;

// Badge
$badge-font-size: 1em;
$badge-padding-y: calc-em(8);
$badge-padding-x: calc-em(16);
$badge-border-radius: calc-em(8);
$badge-circle-width: calc-em(66);
$badge-circle-height: calc-em(66);

// Nav Tabs
$nav-tabs-link-active-bg: $primary;
$nav-tabs-link-active-color: white;
$nav-tabs-border-width: 1px;
$nav-tabs-border-radius: 6px;
$nav-tabs-border-color: black;
$nav-tabs-link-hover-border-color: $body-color;
$nav-tabs-link-active-border-color: $body-color;

// Spinners
$spinner-width: 1.9rem;
$spinner-width: 1.9rem;
$spinner-width-sm: .9em;
$spinner-height-sm: .9em;

//modal
$modal-lg: calc-em(720);

// Custom switch
$custom-switch-indicator-size-height: calc-em(42);
$custom-switch-width: calc-em(82);
$custom-switch-indicator-border-radius: 2em;
$custom-control-indicator-bg: white;
$custom-control-indicator-border-color: white;
$custom-control-indicator-checked-disabled-bg: $gray-400;

//Popover
$popover-max-width: 275px !default;
$popover-border-radius: calc-em(8);
$popover-body-padding-y: calc-em(8);
$popover-body-padding-x: calc-em(8);
$popover-box-shadow: 0 .25em .5em rgba(black, .2);
$popover-border-width: 0;
$popover-bg: $primary;
$popover-body-color: #fff;
